*.pyc
.idea/arithmetic-coding.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.DS_Store
.DS_Store
prob_dist_2gram_900.txt
prob_dict.pkl
prob_dist.txt
prob_dist.txt
prob_dict_x4_3gram_900.pkl
